@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;600&display=swap');

body {
    padding: 0;
    margin: 0;
    background-color: #14213d;

    color: white;
}

a {
    color: black;
    text-decoration: none;
}


#navbar {
    display: flex;
    font-family: 'Poppins', sans-serif;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
    background-color: #011722;
    border-bottom: 2px solid white;
    font-size: 20px;
}

#portfolio {
    font-weight: 600;
    margin: 0px 25px;
    flex-grow: 5;
}


#home {
    color: white;
    flex-grow: 0.7;
    font-weight: 300;
}

#about {

    color: white;
    flex-grow: 0.7;
    font-weight: 300;
}

#achievements {
    color: white;
    flex-grow: 0.7;
    font-weight: 300;
}


#contact {
    color: #00daf0;
    flex-grow: 0.7;
    font-weight: 300;
}

#home:hover {

    color: #00daf0;
    cursor: pointer;
}

#about:hover {
    color: #00daf0;
    cursor: pointer;
}

#achievements:hover {
    color: #00daf0;
    cursor: pointer;
}

#contact:hover {
    color: #00daf0;
    cursor: pointer;
}

#cont {
    display: flex;
}


#text {

    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    font-weight: 100;
    width: 700px;
    height: 600px;
    border: 2px solid cyan;
    font-size: 10em;
    text-align: center;
}

#info {
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    width: 700px;
    height: 600px;
    border: 2px solid cyan;
}

#info span {
    margin-left: 10px;
    background-color: azure;
    border: 2px solid rgb(18, 55, 201);
    box-shadow: 0.3em 0.5em 2em -0.1em rgb(25, 181, 205);
    width: 10%;
    border-radius: 5px;
    transition: 2s;
    text-align: center;
}

#info a {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #000000;
}

#info span:hover {
    transform: translateY(-5px);
    box-shadow: 0.5 0.5em 8em -0.4em rgba(47, 81, 166, 0.8);
}